<!-- your html code here -->
<!DOCTYPE html>
<html>
<body>

<div class="row">
    <div class="col-8">
    <h2>Dannishka The First Heading <span style="color: lightgray">Will Catch Your Eye</span></h2>
    <p>Donec ullamcorper non metus auctor fringilla. Vestibulum id ligula porta felis consecteur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-4">
    <img src="https://cdn.pixabay.com/photo/2020/05/19/13/48/cartoon-5190942_1280.jpg" width= "400px" height="400px" class="rounded-circle">
    </div>
</div>
    <hr>

    <div class="row">
        <div class="col-4">
           <img src="https://cdn.pixabay.com/photo/2022/04/03/13/54/woman-7109043_1280.jpg" width= "400px" height="400px" class="rounded-circle">
        </div>
        <div class="col-8">
        <h2>The Second Heading <span style="color: lightgray">Is Pretty Cool Too.</h2>
        <p>Donec ullamcoper nulla non metus auctor fringilla. Vestibulum id porta felis euismod semper. Praesent commodo.</p>
        </div>
    </div>
    <hr>
    </body>
    </html>